header {
  background-color: darkslategray;
  padding: 25px;
}

header ul {
  list-style: none;
}

header ul li {
  display: inline-block;
  margin-left: 50px;
}

header ul li a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  transition: .3s;
}

header ul li a:hover {
  color: lightseagreen;
}

h1 {
  margin-left: 100px;
}

.card {
  margin-left: 150px;
  background-color: lightgray;
  border-radius: 20px;
  padding: 25px;
  margin-bottom: 20px;
  width: 80vw;
  transition: .3s;
}

.card:hover {
  background-color: lightseagreen;
  cursor: pointer;
}

.card:hover h2 {
  color: white;
}

h2 {
  font-weight: 400;
}
